body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

.profile-info {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-info h2 {
    margin-top: 0;
}

.profile-info ul {
    list-style-type: none;
    padding: 0;
}

.profile-info ul li {
    margin-bottom: 10px;
}

.milestones {
    padding-left: 20px;
}

.milestones li {
    margin-bottom: 5px;
}

table {
    width: 60%;
    margin: 0 auto;
    border-collapse: collapse;
}

#edit-profile {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;   
}

#editBMIButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;   
}

#editNoteButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;   
}

#addMilestone {
    padding: 10px 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
