<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activities</title>
    <link rel="stylesheet" href="Styles/ActivityPageStyle.css">
</head>
<body>
    <header>
        <h1>Activities</h1>
    </header>
    <main>
        <button id="addEntryButton" style="margin-bottom: 20px;">New Activity</button>
        <table>
            <thead>
                <tr>
                    <th>Activity</th>
                    <th>Duration (min)</th>
                    <th>Calories Burned</th>
                    <th>Delete</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody id="activityTableBody">
                <!-- Table rows will be dynamically added here -->
                <tr></tr>
            </tbody>
        </table>
    </main>

    <script src="scripts/ActivityPage.js"></script>
</body>
</html>
