<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Goals</title>
    <link rel="stylesheet" href="Styles/FitnessGoalPageStyle.css">
</head>
<body>
    <header>
        <h1>Fitness Goals</h1>
    </header>
    <main>
        <button id="addFitnessGoal" style="margin-bottom: 5px;">Add Fitness Goal</button>
        <table>
            <thead>
                <tr>
                    <th>FitnessGoal</th>
                </tr>
            </thead>
            <tbody id="goalTableBody">
                <!--Table rows will be added here.-->
            </tbody>
        </table>
    </main>
    <script src="scripts/FitnessGoalPage.js"></script>
</body>
</html>
