<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fitness Tracker</title>
    <link rel="stylesheet" href="Styles/Index.css">
  </head>
  <body>
    <header>
      <h1>Fitness Tracker</h1>
      <nav>
        <ul>
          <!-- Links to pages -->
          <li><a href="ProfilePage.html" target="Startup">Profile</a></li>
          <li><a href="ActivityPage.html" target="Startup">Activities</a></li>
          <li><a href="FitnessGoalPage.html" target="Startup">Goals</a></li>
          <li><a href="LocationWall.html" target="Startup">Locations</a></li>
          <li><a href="ViewProfile.html" target="Startup">View Profile</a></li>
          <li><a href="Login.html" target="Startup">Login/Logout</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <!-- Content will be loaded here; Default page shown is 'ProfilePage' -->
      <iframe id="contentFrame"
        name="Startup"
        src="Login.html"
        style="display: block; border: none; height: 100vh; width: 100%"
      ></iframe>
    </main>
    <script src="scripts/Index.js"></script>

    <footer>
      <p>&copy; 2024 Fitness Tracker</p>
    </footer>
  </body>
</html>