<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Locations</title>
    <link rel="stylesheet" href="Styles/LocationWallStyle.css">
</head>
<body>
    <header>
        <h2>Locations</h2>
    </header>
    <main>
        <button id="addLocationButton" style="margin-bottom: 5px;">Add Location</button>
        <table>
            <thead>
                <tr>
                    <th>Address</th>
                    <th>City</th>
                    <th>State</th>
                    <th>BuildingName</th>
                    <th>Delete</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody id="locationTableBody">
                <!--Table rows will be added here.-->
            </tbody>
        </table>
    </main>

    <script src="scripts/LocationWall.js"></script>
</body>
</html>
