<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Information Form</title>
    <link rel="stylesheet" href="Styles/LoginStyle.css">
  </head>
  <body>
    <!-- Form container -->
    <div class="form-container">
      <h2>User Login</h2>
      <!-- Centered heading -->
      <form id="userForm" action="#">
        <div class="form-row">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" />
        </div>
        <div class="form-row">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" />
        </div>
        <a href="AccountCreation.html" target="Profile">Create Account</a>
        <input
          type="submit"
          value="Login, Save info in LocalStorage"
          onclick="saveUserData()"
          style="margin-top: 5px"
        />
        <input
          type="submit"
          value="Clear LocalStorage"
          onclick="resetStorage()"
          style="margin-top: 5px"
        />
      </form>
    </div>
    <script>
      function saveUserData() {
        event.preventDefault();
        // Get form inputs
        let username = document.getElementById("username").value || null;
        let password = document.getElementById("password").value || null;

        // reset the form
        document.getElementById("username").value = "";
        document.getElementById("password").value = "";

        // Create user object
        let userData = {
          username: username,
          password: password,
        };

        let item = localStorage.getItem("currentUser");
        console.log(item);
        let data = JSON.parse(item);

        if (data.Username == username && data.Password == password) {
          alert("User data is in local storage.");
        } else {
          alert("Wrong Username or Password!!!");
        }
      }

      function resetStorage() {
        event.preventDefault();
        localStorage.removeItem("currentUser");
      }
    </script>
  </body>
</html>
