<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="Styles/ProfilePageStyle.css">
</head>
<body>
    <div class="container">
        <h1>User Profile</h1>
        <div>
            <button id="edit-profile">Edit Profile</button>
        </div>
        <div class="profile-info">
            <h2>Personal Information</h2>
            <ul>
                <li><strong>Name:</strong> <span id="name">John Doe</span></li>
                <li><strong>Date of Birth:</strong> <span id="dob">January 1, 1990</span></li>
                <li><strong>Weight:</strong> <span id="weight">70 kg</span></li>
                <li><strong>Height:</strong> <span id="height">170 cm</span></li>
                <li><strong>Email:</strong> <span id="email">johndoe@example.com</span></li>
                <li><strong>BMI:</strong> <span id="bmi">placeholder</span></li>
            </ul>
            <div class="editBMI">
                <button id="editBMIButton">Edit BMI</button>
            </div>
            <h2>Personal Note</h2>
            <p id="personal-note">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis libero et nibh placerat, sit amet varius dolor venenatis. Vivamus ultricies risus sit amet neque dictum, non rutrum risus eleifend.</p>
            <div class="editBMI">
                <button id="editNoteButton">Edit Note</button>
            </div>
            <h2>Milestones</h2>
            <button id="addMilestone">Add Milestone</button>
            <table class="milestones" id="milestones-list">
                <thead>
                    <tr>
                        <th>Milestone</th>
                        <th>Delete Milestone</th>
                        <th>Edit Milestone</th>
                    </tr>
                </thead>
                <tbody>
                    <!--Milestones table goes here.-->
                </tbody>
            </table>
        </div>
    </div>
    <script src="scripts/ProfilePage.js"></script>
</body>
</html>
