<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Profiles</title>
    <link rel="stylesheet" href="Styles/ViewProfileStyle.css">
</head>
<body>
    <header>
        <h1>Profiles</h1>
    </header>
    <main>
        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>View Comments</th>
                </tr>
            </thead>
            <tbody id="profileTableBody">
                <!-- Table rows will be dynamically added here -->
                <tr></tr>
            </tbody>
        </table>
    </main>

    <script src="scripts/ViewProfile.js"></script>
</body>
</html>