<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Profiles</title>
    <link rel="stylesheet" href="Styles/ViewCommentsStyle.css">
</head>
<body>
    <header>
        <h1 id="header">'s Profile</h1>
        <button onclick="goBack()">Back to Profiles</button>    
        <button id="addCommentButton">New Comment</button>
    </header>
    <main>
        <table>
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Comment</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody id="commentsTableBody">
                <!-- Table rows will be dynamically added here -->
                <tr></tr>
            </tbody>
        </table>
    </main>

    <script src="scripts/ViewComments.js"></script>
</body>
</html>